* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: hsl(33, 100%, 45%);
}
h1 {
    font-size: 1.25em;
    margin-bottom: 1em;
}

.left-section {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    width: 40vw;
    height: 54.5vw;
    text-align: center;
    flex-shrink: 0;
}

div .logo {
    width: 25%;
}

.logo-container {
    background-color: #00000050;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10rem;
}
.logo-container p {
    color: aliceblue;
    font-family: 'Amatic SC', handwriting;
    font-size: 5em;
    align-self: center;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-section {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1em;
}
.header-section p {
    font-size: 1.5em;
}

.header-section, .footer-section {
    background-color: rgb(255, 228, 196);
}

.header-section, .footer-section, .form-section {
    height: 18vw;
    padding: 2em;
}

label {
    display: block;
    font-size: 0.8em;
    margin-bottom: 2px;
}

input {
    appearance: none;
    border: 1px solid hsl(220, 13%, 91%);
    border-radius: 3px;
    width: 150%;
    padding: 0.4em;
    margin-bottom: 2em;
}


button {
    padding: 10px 40px;
    border-radius: 5px;
    border: 0;
    background-color: hsl(33, 100%, 75%);
    box-sizing: border-box;
    margin-bottom: 25px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
}

button:hover {
    background-color: hsl(33, 100%, 70%);
}

button:focus {
    border: 2px solid hsl(33, 100%, 65%);
}

button:active {
    background-color: hsl(33, 100%, 60%);
}

.footer-section {
    box-shadow: inset 0px 2px 7px rgba(0, 0, 0, 0.7);
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 2em 1em 2em;
}

form {
    display: flex;
    justify-content: start;
    gap: 25%;
}


input:focus {
    outline: none;
    border-color: rgb(175, 177, 181);
}

input:invalid {
    border-color: red;
}